:root {
  --primary-navy: #121744;
  --primary-orange: #f77148;
  --light-gray: #f2f2f2;
  --dark-gray: #666666;
  --text-gray: #0000006b;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../public/media/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../public/media/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/media/fonts/Jost-Bold.woff2') format('woff2'), url('../public/media/fonts/Jost-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/media/fonts/Jost-Medium.woff2') format('woff2'), url('../public/media/fonts/Jost-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/media/fonts/Jost-Regular.woff2') format('woff2'), url('../public/media/fonts/Jost-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../public/media/fonts/Jost-SemiBold.woff2') format('woff2'), url('../public/media/fonts/Jost-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.25rem;
  color: #303030;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Proxima Nova Rg';
}

.fw-medium {
  font-weight: 500 !important;
}

.border-secondary {
  border: 1px solid var(--dark-gray) !important;
}

.fs-sm {
  font-size: 1.188rem !important;
}

.fs-xs {
  font-size: 1rem !important;
}

.bg-navy {
  background-color: var(--primary-navy) !important;
}

.bg-orange {
  background-color: var(--primary-orange) !important;
}

.bg-primary {
  background-color: var(--primary-navy) !important;
}

.text-orange {
  color: var(--primary-orange) !important;
}

.text-navy {
  color: var(--primary-navy) !important;
}

.text-light-gray {
  color: var(--light-gray) !important;
}

.text-dark-gray {
  color: var(--dark-gray) !important;
}

.text-muted-gray {
  color: var(--text-gray) !important;
}


.fw-normal {
  font-weight: 400 !important;
}

.hero-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(18, 23, 68, 1) 100%), url('https://assets.bonappetit.com/photos/57d6fdf41807135a7746d6db/16:9/w_2560%2Cc_limit/CP_Interior2.jpg');
  background-size: cover;
  background-position: center;
  height: 320px;
  position: relative;
}

.hero-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 61px;
}

.reservation-card {
  border-radius: 24px;
  box-shadow: 0px 0px 10px 3px rgba(18, 23, 68, 0.15);
  margin-top: -60px;
  position: relative;
  z-index: 10;
  background: white;
  font-size: 1.188rem;
}



.restaurant-card {
  border-radius: 1.5rem;
  border: 0.75px solid var(--primary-navy);
  transition: transform 0.3s ease;
}

.star-icon {
  margin-top: -4px;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  border-color: var(--primary-orange) !important;
}

.restaurant-card:hover h5 {
  color: var(--primary-orange) !important;
}

.restaurant-image {
  height: 204px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  overflow: hidden;
}


.restaurant-card h5 {
  font-size: 1.375rem;
}

.btn-orange {
  background-color: #e55a3a;
  border: none;
  border-radius: 32px;
  color: var(--light-gray);
  font-weight: 600;
  transition: all 0.3s ease;
}

.img-section img {
  object-fit: cover;
  border-radius: 1.25rem;
}

.details-main-img {
  height: 480px;
}

.details-main-img {
  height: 480px;
}

.details-side-img {
  height: 232px;
}

.res-details,
.amenities {
  font-size: 1.438rem;
}


.rating-card {
  box-shadow: 0px 0px 10px 2px rgba(18, 23, 68, 0.1);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(18, 23, 68, 0.1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(18, 23, 68, 0.1);
  border-radius: 1.25rem;
}

.rating-icons {
  font-size: 2rem;
}

.progress-bar {
  position: relative;
  background-color: #D9D9D9;
  height: 10px;
  border-radius: 10rem;
  max-width: 280px;
  width: 100%;
}

.progress-bar .progress {
  background-color: var(--primary-orange);
}

.global-value {
  font-size: 3rem;
}

.global-value span {
  font-size: 1.8rem;
}

.chart .value {
  min-width: 4rem;
}

.user-img img {
  border-radius: 50rem;
  height: 65px;
  width: 65px;
  overflow: hidden;
  object-fit: cover;
}

.user-details p {
  font-size: 1rem;
}

.reser-card .rounded {
  border-radius: 1.25rem !important;
}

.reser-card h2 {
    font-family: 'Proxima Nova Rg';
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.just-squeez {
  background: #F77148;
background: linear-gradient(180deg, rgba(247, 113, 72, 1) 0%, rgba(18, 23, 68, 1) 100%);
}

.just-squeez-inner {
background: #FFF;
background: linear-gradient(231deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
   border-radius: 1.25rem !important;
}

p.small {
  font-size: 7px;
}

footer {
  padding-top: 6.25rem;
}

footer a:hover,
.nav-link:hover {
  color: var(--primary-orange) !important;
}

.footer-bg {
  background: var(--primary-navy);
  position: relative;
  overflow: hidden;
}

ul {
  padding-left: 1.25rem;
}

ul li {
  margin-bottom: 5px;
}


@media (min-width: 1400px) {
  .container-xl {
    max-width: 1366px;
  }
}

@media (max-width: 1199px) {
  .details-main-img {
    height: 400px;
  }

  .details-side-img {
    height: 192px;
  }
  .reser-card h2 {
  font-size: 2rem;
  line-height: 2rem;
}
}

@media (max-width: 991px) {
  footer {
    padding-top: 4rem;
  }

  .hero-section {
    height: 200px;
  }

  .reservation-card .row>div {
    border-bottom: 1px solid #dee2e6;
    border-right: none !important;
  }

  .hero-title {
    font-size: 36px;
    line-height: 42px;
  }

  .details-main-img {
    height: 300px;
  }

  .details-side-img {
    height: 142px;
  }
}

@media (max-width: 767px) {
  .reservation-card .row>div:last-child {
    border-bottom: none;
  }

  .details-main-img,
  .details-side-img {
    height: 200px;
  }

  .res-details, .amenities {
  font-size: 1rem;
}

}

@media (max-width: 576px) {
  .hero-title {
    font-size: 28px;
    line-height: 34px;
  }
}